body {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 36, 72);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 300px;
  padding: 20px;
  height: auto;
  margin: 0px auto;
  background-color: antiquewhite;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(36, 36, 72);
  overflow: hidden;
  border-radius: 10px;
  height: 40px;
}

.cityinput {
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

.search-icon {
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: x-large;
  /* color: rgb(255, 255, 8); */
}

.degree,
.cityName,
.countryName {
  text-align: center;
  text-transform: uppercase;
  margin-top: -18px;
}

.lag-lon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: -20px;
}

.hum-speed {
  display: flex;
  margin-top: -20px;
  margin-left: 20px;
  gap: 100px;
  width: 90%;
}

.lag-lon,
.hum-speed h4 {
  display: flex;
  text-align: center;
}

.footimage {
  display: flex;
  margin-left: 22px;
  gap: 128px;
  width: 90%;
}

.weatherimage {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: -10px;
}
.error h3 {
  margin-top: 30px;
  text-align: center;
}

h1{
  color: aliceblue;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
}